/* styles.css */
.table-container {
    height: 600px; /* Establece la altura deseada para la tabla */
    overflow: auto; /* Permite el desplazamiento vertical y horizontal */
    max-width: 100%; /* Establece el ancho máximo para la tabla */
  }

  .table tbody tr {
    height: 30px; /* Establece la altura deseada para las filas de la tabla */
  }
  .table thead th {
    white-space: nowrap; /* Evita que los encabezados se envuelvan en varias líneas */
  }